In [1]:
# Import library

import pandas as pd 
import numpy as np

In [2]:
# File load 
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [3]:
# here test data output is missing 
# check train and test columns is are is not equal
df_train.shape, df_test.shape

((891, 12), (418, 11))

In [4]:
if 'Survived' not in df_test.columns:
    df_test['Survived']=0
    
# যদি df_test ডেটাফ্রেমে 'Survived' কলাম না থাকে
# তাহলে df ডেটাফ্রেমে 'Survived' নামে একটি নতুন কলাম তৈরি কর এবং সব ভ্যালু 0 সেট কর
# test set survived=0 এর কারন sklearn 2D array expect করে

In [5]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Check null value check 
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Survived         0
dtype: int64

In [8]:
 df=pd.concat([df_train,df_test],axis=0)

In [77]:
def PreProcessing(df_train,df_test):
    df=pd.concat(df_train,df_test,axis=0) # train এবং test dataset টিক তখনি যোগ বা concat করব , যখন ডাটা Preprocess করব 
    
    # axis=0 ডেটাফ্রেমগুলোকে একটির নিচে অন্যটি যুক্ত করা (সারি বাড়ানো)।
    # axis=1 অর্থ: ডেটাফ্রেমগুলোকে পাশাপাশি যুক্ত করা (কলাম বাড়ানো)।
    
    #drop()এ inplace=True না দিলে ডেটাফ্রেমে পরিবর্তন সেভ হয় না!
    #Unnessary columns delete 
    df.drop(columns=['Name','Ticket'],axis=1,inplace=True)
    #     null value hundle
    
    df['Age']=df['Age'].fillna(df['Age'].mean())
    df['Cabin']=df['Cabin'].fillna('x0000')
    df['Fare']=df['Fare'].fillna(df['Fare'].mean())
    df['Embarked']=df['Embarked'].fillna('x')
    
#     feture Engineering 
    # Cabin columns differnt create 
    df['Cabin_Letter'] = df['Cabin'].str.extract(r'([a-zA-Z]+)',expand=False)
    df['Cabin_Number'] = df['Cabin'].str.extract(r'(\d+)',expand=False)  # '123' কে সংখ্যায় রূপান্তর 
    df.drop(columns=['Cabin'],inplace=True)
    
    
#     now Encodeing 
    df=pd.get_dummies(df,columns=['Cabin_Letter'],prefix='Cabin')

    df=pd.get_dummies(df,columns=['Embarked'],prefix='Embarked')
    
    df=pd.get_dummies(df,columns=['Sex'],prefix='Sex')
    
    
#     agin cabin number null value hundle .
#      df['Cabin_Number']=df['Cabin_Number'].fillna('0')

 # hunlde Encoder error,name not maind
    df = df.drop('cabin_x', axis = 1)
    df = df.drop('Embarked_x', axis = 1)
    
    df['cabin_number'] = df['cabin_number'].fillna(0)
    df['cabin_number'] = pd.to_numeric(df['cabin_number'])
   
    
    
    
  


    return df




    
    
#     --------------
    
    
    '''
str.extract():

Pandas-এর স্ট্রিং মেথড যা রেগুলার এক্সপ্রেশন ব্যবহার করে টেক্সট থেকে প্যাটার্ন মেলে এমন অংশ বের করে।

r'([a-zA-Z]+)':

একটি রেগুলার এক্সপ্রেশন (regex) প্যাটার্ন

[a-zA-Z]: শুধুমাত্র ইংরেজি বর্ণ (ছোট হাতের a-z ও বড় হাতের A-Z) মেলাবে

+: এক বা একাধিক বর্ণ মেলাবে

expand=False:

রেজাল্টকে pandas Series হিসেবে রিটার্ন করে (ডিফল্টভাবে DataFrame রিটার্ন করে)
    '''

In [78]:
df= PreProcessing(df_train,df_test)

TypeError: concat() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given