In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

   id                                               text sentiment
0   0  ব্যাংকের কর্মীরা অত্যন্ত দক্ষ এবং সহযোগী। তাদে...  positive
1   1  আমি কোম্পানির নতুন প্রোডাক্ট সম্পর্কে জানতে চা...   neutral
2   2  কোম্পানির সেবা মানুষের টাকা নষ্ট করার জন্য। আম...  negative
3   3  ব্যাংকের সিস্টেম প্রায়ই ডাউন থাকে। জরুরি সময়...  negative
4   4  ব্যাংকের নোটিফিকেশন সিস্টেম কাজ করে না। আমি আম...  negative

In [4]:
df.isnull().sum()

id           0
text         0
sentiment    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [10]:
#column value index show 
df.text[0]

'ব্যাংকের কর্মীরা অত্যন্ত দক্ষ এবং সহযোগী। তাদের পেশাদারিত্ব দেখে আমি মুগ্ধ।'

In [11]:
from sklearn.feature_extraction .text import CountVectorizer

In [13]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
from sklearn.pipeline import Pipeline